body {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url(./fundo.jpg);
}

#conteudo {
    display: flex;
    text-align: center;
    ;
}

#titulo {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textos {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.date {
    margin: 20px;
}

h1 {
    color: black;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
}

.copyright {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}